body {
    background:#f0f2f5;
    font-family: 'Poppins', sans-serif;
    
 }
 
 main{
     height: 100vh;
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
 }
 
 .main{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 80vh;
 }
 
 .heading-section{
     display: flex;
     flex-direction: column;
     max-width: 550px;
     margin-right: 5rem;
     margin-top: 6rem;
     align-self: flex-start;
 }
 
 .logo-img{
     display: block;
     width: 270px;
 }
 
 .form{
     width: 390px;
 }
 
 .a-form {
     width: 100%;
     box-sizing: border-box;
     padding: 15px;
     background-color: #fff;
     border: none;
     box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
     margin-bottom: 20px;
 }
 
 .a-form .a-email {
     width: 100%;
     padding: 15px;
     box-sizing: border-box;
     font-size: 16px;
     margin: 10px auto;
     border: 1px solid lightgray;
     border-radius: 8px;
     border-width: thin;
     outline-width: thin;
     outline-color: rgb(160, 160, 255);
 }
 
 .a-form .a-email:focus {
     outline: none;
     box-shadow: 0px 0px 2px #0066ff;
 }
 

 
 .a-form .a-pss:focus {
     outline: none;
     box-shadow: 0px 0px 2px #0066ff;
 }
 
 .a-form .a-sub {
     display: block;
     width: 100%;
     padding: 15px;
     margin: 10px auto;
     box-sizing: border-box;
     background-color: #004790;
     text-align: center;
     color: white;
     font-size: 20px;
     border: none;
     font-weight: 700;
     border-radius: 8px;
 }
 
 .a-form .a-sub:hover {
     cursor: pointer;
     background-color: #003780;
     border: none;
 }
 
 .a-form .a-sub:active {
     cursor: progress;
     background-color: #102770;
     border: none;
     outline: none;
 }
 
 .a-form .a-sub:focus {
     outline: none;
     box-shadow: 0px 0px 2px #0066ff;
 }
 
 .a-form .a-link {
     display: block;
     text-decoration: none;
     text-align: center;
     padding-bottom: 10px;
     padding-top: 10px;
     font-size: 16px;
 }
 
 .a-form .a-hr {
     display: block;
     margin-top: 0.5em;
     margin-bottom: 1.5em;
     margin-left: auto;
     margin-right: auto;
     border: 1px solid #E0E0E0;
 }
 
 
 .a-form .a-but:hover {
     cursor: pointer;
     border: none;
     background-color: #67ab04;
     outline: none;
 }
 
 .a-form .a-but:focus {
     outline: none;
     background-color: #67ab04;
 }
 
 .a-ri8{
     padding: 15px;
     font-size: 25px;
 }
 